*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background-color: royalblue;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
main{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
.form-insertar{
    width: 50%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.form-insertar button{
    padding: 0.5em;
    border: none;
    border-radius: 30%;
}